:root {
  --teal: #14b8a6;
  --shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

:root[data-color-mode="light"] {
  --primary: #f7f8fc;
  --secondary: #ffffff;
  --ternary: #f6f7f8;

  --text: black;

  --border: #eaeaea;
}

:root[data-color-mode="dark"] {
  --primary: #0d2438;
  --secondary: #102d44;
  --ternary: #1e3851;

  --text: white;

  --border: var(--ternary);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body,
#app {
  height: 100%;
}

body {
  line-height: 1.5;
  font-family: "Nunito";
  background-color: var(--primary);
  color: var(--text);
  overflow: hidden;
  transition: background-color 300ms ease;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

@font-face {
  font-family: "Nunito";
  font-display: swap;
  src: local("Nunito"),
    url(./assets/fonts/Nunito-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Nunito-Light";
  font-display: swap;
  src: local("Nunito"), url(./assets/fonts/Nunito-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Nunito-Bold";
  font-display: swap;
  src: local("Nunito"), url(./assets/fonts/Nunito-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Nunito-Italic";
  font-display: swap;
  src: local("Nunito"), url(./assets/fonts/Nunito-Italic.ttf) format("truetype");
}
